body{
  background-color: #f5f3f7;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}
i{
  color: #fff;
}
p{
  margin: 0;
}
h1{
  font-weight: 500;
  font-size: 250%;
}
.back-pic img{
  border-radius: 100%;
  width: 45%;
  border: 2px solid #fff;
}



.gradient{
  background: linear-gradient(45deg, #8838ff,  #e942ff);
}
.option, .contact-name, .back-pic{
  display: inline-block;
}
.purple{
  height: 450px;
  width: 50%;
  margin-right: auto;
  position: absolute;
  background: hsl(264, 100%, 61%, 0.7);
  top: 0;
  border-bottom-right-radius: 100%;
}


/* Top container/contact status */

.contact-details{
  margin-top: 10px;
}
.outside{
  display: flex;
  margin: 15% auto;
  background-color: white;
  width: 252px;
  height: 500px;
  border-radius: 28.8px;
  z-index: 3;
  position: relative;
}
.inside{
  width: 95%;
  background-color: #f5f3f7;
  margin: 9px 9px 20px;
  border-radius: 20px;
  height: 96%;
}
.name-bar{
  width: 100%;
  height: 14%;
  border-radius: 0.5rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  margin-bottom: 0.5rem;
}
.speaker{
  position: relative;
  top: -1px;
  background-color: #fff;
  width: 55%;
  height: 25%;
  margin: auto;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 .fa-ellipsis-v{
   font-size: 60%;
 }
 .contact-name{
   line-height: 1.5;
   width: 50%;
   margin: 0;
 }
 .status{
   color: #c6cacd;
   font-weight: lighter;
   font-size: 60%;
 }
  .name{
    color: #fff;
    font-weight: 200;
    font-size: 70%;
  }
  .back-pic{
    width: 23%;
  }
  .adjust{
    position: relative;
    bottom: 5px;
    margin: 6px;
  }
  .option{
    position: relative;
    bottom: 6px;
    text-align: right;
    width: 20%;
  }


  /* Left chat section */
  .l-text{
    color: #9241c8;
    width: fit-content;
    max-width: 50%;
    background-color: hsl(276, 55%, 52%, 0.1);
    padding: 0.3rem 0.4rem 0.4rem;
    line-height: 1.5;
    font-weight: lighter;
    font-size: 51%;
    border-radius: 10px;
    border-bottom-left-radius: 3px;
    margin: 0.5rem;
  }

  /* Pricing */
  .pricing{
    display: flex;
    color: #fff;
    background: linear-gradient(45deg, #e942ff, #8838ff);
    width: 70%;
    font-weight: lighter;
    font-size: 51%;
    border-radius: 10px;
    border-bottom-left-radius: 3px;
    margin: 0.5rem;
    height: 35px;
  }
  .circle{
    margin: auto;
    border: 1px solid plum;
    border-radius: 100%;
    display: inline-block;
    height: 11px;
    width: 6%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .time{
    margin: auto;
    margin-left: 0;
    display: inline-block;
    margin-right: 30px;
    font-size: 90%;
  }
  .cost{
    display: inline-block;
    text-align: right;
  }
  .cost1 h3{
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 9px;
  }
  .cost2 h3{
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 9px;
    padding-left: 18px;
  }

 /* Right chat section */
.r-text{
  color: #6e5d7e;
  width: fit-content;
  max-width: 50%;
  background-color: #fff;
  padding: 0.3rem 0.4rem 0.4rem;
  line-height: 1.5;
  font-weight: lighter;
  font-size: 51%;
  border-radius: 10px;
  border-bottom-right-radius: 3px;
  margin: 0.5rem;
  margin-top: 0.3rem;
  margin-left: auto;
}
 .dog-image-cont{
    text-align: right;
  }
  .dog-image{
    width: 18%;
    border-radius: 7px;
    margin-right: 0.3rem;
  }
  .pad{
    margin-right: 0.6rem;
  }

  /* Message input section */
  .input{
    text-align: right;
    background-color: #fff;
    color: #fff;
    width: 93%;
    margin: auto;
    border-radius: 20rem;
    margin-top: 15px;
    height: 35px;
  }
  .input p{
    font-size: 52%;
    display: inline-block;
    padding-top: 15px;
    padding-left: 20px;
    color: #c6cacd;
  }
  .send{
    text-align: center;
    display: inline-block;
    width: 12%;
    border-radius: 20rem;
    margin-left: 90px;
    margin-right: 5px;
    background-color: #3e2753;
  }
  .padd{
    padding: 5px;
    margin-right: 0;
  }

  /* details section */

  .low-heading{
    color: #3e2753;
    text-align: center;
    line-height: 2;
    margin: auto 1.35rem;
  }
  .low-heading p{
    opacity: 0.5;
    margin: auto auto 2rem;
    width: 320px;
  }


/* media queries */
@media (min-width: 1360px) {
  .purple{
    width: 30.8%;
    height: 680.5px;
    left: -2%;
    border-bottom-right-radius: 270px;
    border-bottom-left-radius: 190px;

  }
  .engulf{
    display: flex;
  }
  .wrapper{
    margin: auto;
    margin-right: 9%;
    margin-top: 8%;
    margin-left: 24.5%;
    display: inline-block;
  }
  .low-heading{
    position: relative;
    padding-top: 200px;
    margin: auto;
    margin-right: 0;
    text-align: left;
    margin-left: 0;
    display: inline-block;
  }
  .low-heading p{
    width: 433px;
  }
  .grey{
    position: absolute;
    bottom: 0;
    right: 0px;
    height: 680px;
    background-color: #c6cacd;
    width: 24%;
    opacity: 10%;
    border-top-right-radius: 15px;
    border-top-left-radius: 311px;
  }
  .attribution{
    margin-top: 30px;
  }

}
